# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Virtual Environment
venv/
env/
retailenv/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Environment variables
.env
*.env

# Mac
.DS_Store

# VS Code
.vscode/
